
/* Generics */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body{ 
    font-family: 'Roboto', sans-serif;    
    }
.etichetta{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    color: white;
    padding: 6px;
    border: none;
    text-align: center;
    font-size: 10px;
    margin-left: 5px;
}

/* classi header */
h1{    
    display: inline-block;
    color: #001632;
    font-size: 40px;
    vertical-align: middle;
}
.intestazione{
    height: 80px;    
    width: 100%;   
    padding: 10px 20px;
}
#logo{
    vertical-align: middle;
    height: 100%;
}   

/* classi contenitori */
.contenitore-principale{
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #f6f8f9;  
}
.contenitore-secondario{
    padding: 20px;
    background-color: white;
    width: 70%;
    height: 950px;
    margin: 10px auto;      
}

/* classe blocco bottoni  */
.bottoni{
    padding-left: 35px;
    padding-bottom: 8px;
    border-bottom: solid #f6f8f9 1.5px;
}

/* classe bottoni  */
#task{
    width: 100px;
    height: 30px;
    background-color: rgb(123, 201, 250);
    border-radius: 5px;
    color: white;
    border: none;   
}
#section{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    color: rgb(133, 130, 130); 
    border: 1px solid lightgrey;
    
}

/* classi titoletti liste */
.titoletto-lista{
    padding: 20px 35px; 
}
li{
    list-style-type: none;
    margin: 20px 0;
}

/* classi colori etichette  */
.editorial{
    background-color: #3ebefa;  
}
.q1{
    background-color: #8a63c0;
}
.recruiting{
    background-color: #0ec68e;
}
.mobile{
    background-color: #f49305;
}
.website{
    background-color: #e75480;
}
.sales{
    background-color: #93c037;
}

/* classi entities */
.check{
    color: green;   
    border: solid green 1px;
    border-radius: 200px;
    padding-left: 3px;
    padding-right: 3px; 
}
.cross{
    color: red;   
    border: solid red 1px;
    border-radius: 200px;
    padding-left: 3px;
    padding-right: 3px;
}